<!DOCTYPE html>

<html>

<head>

    <title>Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='auth.css') }}">

</head>

<body>

    <div class="container">

        <form method="POST" class="form-box">

            <h1>Welcome Back</h1>

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}

                        <div class="flash-message">

                            {{ message }}

                        </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">
                Login
            </button>

            <p>
                Don't have an account?

                <a href="/">
                    Signup
                </a>
            </p>

        </form>

    </div>

</body>

</html>