<!DOCTYPE html>

<html>

<head>

    <title>Signup</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='auth.css') }}">

</head>

<body>

    <div class="container">

        <form method="POST" class="form-box">

            <h1>Create Account</h1>

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for message in messages %}

                        <div class="flash-message">

                            {{ message }}

                        </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

            <input
                type="text"
                name="rollno"
                placeholder="Enter Roll Number"
                required>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <input
                type="text"
                name="username"
                placeholder="Create Username"
                required>

            <input
                type="password"
                name="password"
                placeholder="Create Password"
                required>

            <button type="submit">
                Signup
            </button>

            <p>
                Already have an account?

                <a href="/login">
                    Login
                </a>
            </p>

        </form>

    </div>

</body>

</html>